@charset "utf-8";

// Fonts

@font-face {
  font-family: 'Inter';
  src:url('../assets/fonts/Inter-Black.ttf'), format('truetype');
}

@font-face {
  font-family: 'Patua';
  src:url('../assets/fonts/Patua.ttf'), format('truetype');
}
// Define defaults for each variable.

$base-font-family: 'Patua', sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$base-heading: 'Inter', sans-serif;

$spacing-unit:     30px !default;

$dark-line-height: 3px;
$dark-line:      #111 !default;

$content-bg:     #fff !default;

$text-color:       #111 !default;
$background-color: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%) !default;
$brand-color:      #e4008b !default;
$links-color:      #7b5cdc !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
