---
layout: default
---

<div class="main-top">

    <article class="media">
  
      <div class="author-image">
        <img src="../assets/images/vanessa.jpg" alt="Mulher branca de óculos de grau e cabelos compridos sorrindo olhando para o lado, de camise braca, foto em preto e branco">
      </div>
      <div class="contact">
        <strong>vanessa@avessaeavulsa.com</strong>
      </div>
  
    </article>
    <article class="post">
  
      <div class="post-content">
        {{ page.highlight | markdownify }}
      </div>
    
    </article>
  </div>

  <article class="post">
  
    <div class="post-content">
      {{ content }}
    </div>
  
  </article>